/Debug
/doc
/ipch
/x64
x64
Debug
/Solver2048/Solver2048
*.o
*.~
*.swp
*.swo
/*.suo
/*.sdf
/*.opensdf
/Solver2048.sln.GhostDoc.xml
/Solver2048/*.user
.metadata
.settings
.ycm_extra_conf.py
.ycm_extra_conf.pyc

